.IngredientAdmin{
    margin: 0;
    padding-bottom:10px
}

.ingredientList{
    width: calc(45vw - 5px);
}

.ingredientContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    padding:10px
}

.ingredientForm{
    width: calc(50vw - 5px);
}


@media screen and (max-width: 780px){
    .ingredientList{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .ingredientForm{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    
    
    .ingredientContent{
        display: flex;
        flex-direction: column;
    }
}