.categories{
    text-align: left;
}

.globalCarte{
    display: flex;
    flex-direction: row;
}
.filtre{
    width: 200px;
    height: max-content;
    background-color: #FFF;
    position: sticky;
    top:102px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(49, 48, 48);
    padding: 8px
}

.filtre ul {
    list-style-type: none;
}

.produits{
    width: calc(100vw - 210px);
    padding: 10px;
    text-align: center !important;
 }