#carte{
    min-height: 4000px;
}
#filtre{
    width: 200px;
    background-color: #FFF;
    float: left;
    top:102px;
    position: sticky;
    min-height: 200px;
    margin-top: 10px;
}

.produits{
    float: right;
    width: calc(100vw - 210px);
    height: 6000px;
    /* background-color: aqua;   */
    padding: 10px;
    padding-right: 50px;
}