.carte{
    background: rgb(222,222,222);
    background: linear-gradient(180deg, rgba(222,222,222,1) 30%, rgba(255,255,255,1) 45%);
}
.categories{
    text-align: left;
}

.globalCarte{
    display: flex;
    flex-direction: row;
}
.filtre{
    width: 200px;
    height: max-content;
    background-color: #FFF;
    position: sticky;
    top:102px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(49, 48, 48);
    padding: 8px
}

.filtre ul {
    list-style-type: none;
}

.produits{
    width: calc(100vw - 210px);
    min-height: calc(100vh - 300px);
    padding: 10px;
    margin: 0 auto;
 }