.carte{
    background-color: #DEDEDE;
    min-height: calc(100vh - 100px - 100px) !important;
}

.globalCarte{
  display: flex;
  flex-direction: column;
}

.trisProducts{
    width: fit-content;
    float: right;
    align-self:flex-end;
    margin: 10px;
}

.carteContent{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
}

.filtre{
    width: 250px;
    height: max-content;
    background-color: #FFF;
    position: sticky;
    top:102px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(49, 48, 48);
    padding: 8px
}

/* .filtre ul {
    list-style-type: none;
} */

.titleFiltre{
    color: black !important;
    text-decoration:underline;
    margin-bottom: 10px;
}

.filtreCheckBox{
    padding-left: 15px;
}

.NoResult{
    text-align: center;
    font-size: large;
    font-weight: bold;
   
}

.produits{
    width: calc(100vw - 260px);
    min-height: calc(100vh - 300px);
    padding: 10px;
    margin: 20 auto;
 }