#google{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(234, 234, 234);
}

/* 
#gsi_42458_577392-wrapper, #gsi_42458_577392-overlay{
    width: 55px !important;
    height: 55px !important;
    background-color: green;
}
 */

 #c{
    width: 55px !important;
    height: 55px !important;
 }

#google:hover{
    cursor: pointer;
}

.divButton{
    margin-left: 15%;
}

.disconnectButton{
    width: 135px;
    height: 40px;
  
    border-radius: 20px;
    font-size: 1.2rem;

    background-color: #D68910;
}


/* ecran inf à 767px*/
@media screen and (max-width: 767px){
    .divButton{
        display: flex;
        margin-left: 0%;
        flex-direction: column;
    }

    .disconnectButton{
        margin: auto;
    }
}

