/* .itemProduct{
    display: flex;
    flex-direction: row;
}
.imgBasket{
    width: 70px;
    height: 70px;
}

.itemProduct span{
    margin-top:auto;
    margin-bottom:auto;
    margin-left: 20px;
}

.addButtonBasket{
    background-color: #D68910;
    padding: 5px;
    max-width: 150px !important;
}

.addButtonBasket input{
    padding: 5px;
    background-color: white;
    text-align: center;
    border-radius: 3px;
    width: 40px !important;
 }

 .interligne{  
    height: 5px !important;
 }

 .buttonTab{
    cursor: pointer;
 } */