.basketMain{
    min-height: calc(100vh - 120px - 100px);
    background: rgb(222,222,222);
    background: linear-gradient(180deg, rgba(222,222,222,1) 30%, rgba(255,255,255,1) 45%);
}


.contentBasket{
    display: flex;
    flex-direction: row;
}

.basket{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}



.summary{
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
.basketAmount{
    width: 200px;
    height: 70px;
    background-color: #cdcdcd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.basketAmount div{
    margin-top:auto;
    margin-bottom:auto; 
}

.txt2BasketAmount{
    font-size: 0.5rem;
}

.summary button{
    background-color: #D68910;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* ecran inf à 767px*/
@media screen and (max-width: 767px){
    .contentBasket{
        display: flex;
        flex-direction: column-reverse;
    }

    .basket{
        width: 90%;
    }
}