.product{
    margin: 0;
    padding-bottom:10px
}

.productLis{
    width: 55%;
}

/* ecran inf à 767px*/
@media screen and (max-width: 767px){
    .productLis{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}