.Summary{
    width:90%;
    margin:10px auto;
}

.SummaryContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    margin-bottom: 20px;
}

.summaryAddress{
    display: flex;
    align-items: center;
}
.nextFromSummaryButton{
    float: right;
}

.cardAddressBasket{
    height: fit-content;

    width: fit-content;
    min-width: 250px;
}
.cardAddressBasketContent{
    background-color: #d2d2d2 !important;

}

.noteOrder{
    height: 70px;
    width: 100% !important;
    padding-left: 10px;
    background-color: #f4f4f4;
    /* margin: 0 auto; */
    overflow-y: scroll !important;
    overflow-wrap: break-word;
}

.paymentResum{
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: #d2d2d2;
    display: flex;
    flex-direction: column;
    gap:15px
}

.addition{
    display: flex;
    flex-direction: column;
    gap:15px
}
.additionPayment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.additionPayment div{
    margin-top:auto;
    margin-bottom:auto; 

}
.txt1Pay{
    font-size: 1rem;
}
.txt2Pay{
    font-size: 0.5rem;
}

.amountBill{
    font-size: 1rem;
}
#card-element{
    display: flex !important;
    flex-direction: column !important
}
.buttonSumForm{
    display: flex;
    flex-direction: reverse;
    justify-content: right;
}

.fieldPay{
    margin-bottom: 10px !important;
}

.inputPay{
    padding-left: 10px;
}

