*{
    max-width: 1600px;
    margin: 0px;                
    padding: 0px;               
    box-sizing: border-box;  
    font-family: 'https://fonts.googleapis.com/css?family=Roboto',sans-serif;
}

body{
    overflow-y: scroll;
    overflow-x:hidden !important;
    
    /* width: 100vw; */
    max-width: 1600px;
    background: linear-gradient(0deg, rgba(5, 5, 5, 0.2), rgba(5, 5, 5, 0.2)), url("/public/picture/backgroundHeader.jpg");
}



/* ecran supd à 767px*/
@media screen and (min-width: 1600px){
    #app{
         transform: translateX(calc((100vw - 1600px)/2));
    }

 }