.CardMedia:hover{
    cursor: pointer;
    margin-bottom: 10px;
}

.CardMedia{
   margin-bottom: 10px;
   border-radius: 10px;
}

.iconClose{
   float: right;
}

.modalProduct {
    max-width: 550px;
    min-width: 350px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    border: 2px solid #000;
    border-radius: 10px;
    padding:10px
} 

.titreModal{
    width: 100%;
    margin-top: 35px;
    font-size:xx-large;
    font-weight: 900;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.imageAndIngredients{
    display: flex;
    flex-direction: row;
}

.ingredients li{
    list-style-type:none;
    padding-left: 10px;
}

.priceModal{
    font-size:x-large;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
    font-size: large;
}

.priceModalPromo{
    text-decoration: line-through;
    margin-right: 20px;
    color: #a9a9a9;
}

.priceDiscount{
    font-size: larger;
    color: rgb(187, 2, 2);
    font-weight: 600;
}
.contentModal{
    display: flex;
    flex-direction: column;
}

.imageModal{
    width: 26vw;
    height: 26vw;
    max-height: 400px;
    max-width: 400px;
    min-width: 224px;
    min-height: 224px;
    border-radius: 10px;
    object-fit: cover;
    margin : 0 auto;
    padding: 5px 0;
    
}

.descriptionModal{
    text-align:left;
    margin: 5px auto;
    padding-right: 10px;
    padding-left: 10px;
}


.add{
    text-align: center;
    margin : 5px auto
}

.addButton{
    background-color: #D68910;
    padding: 3px;
    max-width: 120px !important;
}

.addButton input{
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: white;
   text-align: center;
   border-radius: 3px;
}

.arrowModal{
    border-radius: 10px;
    padding:0px;
    margin:0px;
    transform: translateX(10px);
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #DEDEDE !important;

}

.dropDown, .dropUp{
    display: block;
    padding:0px;
    margin:0px;
    height: 20px;
    width: 20px;
}

.dropUp:active{
    background-color:  #a7a7a7 !important;
    border-radius: 10px 10px 0 0;
}

.dropDown:active{
    background-color: #a7a7a7 !important;
    border-radius: 0px 0px 10px 10px;

}

.arrow button:hover{
    background-color: transparent;
}

.buttonsModalProduct{
    margin : 20px auto; 
    display: flex;
    flex-direction: row;
}

.buttonsModalProduct .totalDisplay{
    background-color: #cdcdcd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;

}
.buttonsModalProduct button{
    background-color: #D68910;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
   
}


@media screen and (max-width: 767px){
    .ingredients {
        font-size: small;
    }
}
