.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;  
    align-content: flex-start;
      /* display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr)); */
    
}

.list .MuiBadge-badge{
    transform: translateY(-5px) !important;
}

