.formAddress{
   width: 70vw;
   margin-right : auto;
   margin-left : auto;
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   gap:20px;
}
.lineAddresse{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    width: 100%;
}


.city, .street{
    width: calc(80% - 30px);
    min-width: 300px !important;
}

.number, .zip, .box, .label{
    width: 20%;
    min-width: 100px !important;
    font-size: small !important;
}

.note{
    width: calc(100%);
}
.buttonAddressForm{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    gap: 10px
}

/* ecran inf à 767px*/
@media screen and (max-width: 767px){

    .formAddress{
        width: 100vw;
        padding-right: 50px;
        padding-left: 50px;
        
     }
}