.CardMedia:hover{
     cursor: pointer;
     margin-bottom: 10px;
}

.CardMedia{
    margin-bottom: 10px;
    border-radius: 10px;
}

.iconClose{
    float: right;
}


.modalProduct {
    max-width: 700px;
    min-width: 350px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    border: 2px solid #000;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px; 
}  
.titreModal{
    width: 100%;
    margin-top: 35px;
    font-size:xx-large;
    font-weight: 900;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;


}
.priceModal{
    font-size:x-large;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}


.add{
    text-align: center;
    margin : auto
}

.addButton{
    background-color: #D68910;
    padding: 3px;
    max-width: 120px !important;
}

.addButton input{
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: white;
   text-align: center;
   border-radius: 3px;
}

.arrowModal{
    border-radius: 10px;
    padding:0px;
    margin:0px;
    transform: translateX(10px);
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #DEDEDE !important;

}

.dropDown, .dropUp{
    display: block;
    padding:0px;
    margin:0px;
    height: 20px;
    width: 20px;
}

.dropUp:active{
    background-color:  #a7a7a7 !important;
    border-radius: 10px 10px 0 0;
}

.dropDown:active{
    background-color: #a7a7a7 !important;
    border-radius: 0px 0px 10px 10px;

}

.arrow button:hover{
    background-color: transparent;
}



.buttonsModalProduct .totalDisplay{
    background-color: #cdcdcd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;

}
.buttonsModalProduct button{
    background-color: #D68910;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
   
}

@media screen and (min-width: 768px){

    .contenuModalProduct{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }

    .imageModal{
        border-radius: 10px;
        object-fit: cover;
        width: 23vw;
        height: 20vw;
        max-height: 320px;
    }

    .descriptionModal{
        text-align:left;
        width: 23vw;
    }

    .rigthModal{    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(3px);
    }

    .buttonsModalProduct{
        display: flex;
        flex-direction: row;
        float: right;
        transform: translateX(-20px)
    }

    
    
}

/* ecran inf à 767px*/
@media screen and (max-width: 767px){
     
    .contenuModalProduct{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .leftModal{
        display: flex;
        flex-direction: column;
    }

    .imageModal{
        border-radius: 10px;
        object-fit: cover;
        width: 40vw;
        height: 30vw;
        max-height: 320px;
        margin-right: auto;
        margin-left: auto;
    }
    .descriptionModal{
        width: 40vw;
        text-align:left;
        margin-right: auto;
        margin-left: auto;   
        margin-top: 10px; 
        margin-bottom: 10px; 
    }

    .rigthModal{    
        display: flex;
        flex-direction: column;
       
    }

    .supplement{
        margin : auto
    }

    .buttonsModalProduct{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        margin-top: 20px;
        
    }
}