.Name, .Description{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
    padding-bottom: 20px;
}

.inputName, .inputDescriptionFr, .inputDescriptionEn{
    width: 50%;
}

.Img{
    display: flex;
    flex-direction: row;
    gap:30px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    height: 90px;

}
.imgForm{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.pathImg{
    width: 100%;
}

.inputPrice{
    text-align: right;
}
.price{
    width: 30% !important;
    min-width: 100px !important;
    max-width: 100px !important;
}


.FamillyCheckBox{
    display: flex;
    flex-direction: column;
}


.checkBoxGroupFam{
    width: 100%;
    justify-content: center;
}
.buttonFormProduct{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: right;
}

.bottomForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px !important;
}

