h1{
    margin-bottom:30px;
    padding-top: 30px;
    text-align: center;
}
h2{
    font-weight: 500;
}
.connectionForm{
    text-align: center;
    padding: 20px 0;
    width: 400px;
    margin: 10 auto;
    background-color: #FEFEFE;
    display: block;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}

#connectionNetwork{
    margin-top: 10px;
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#toInscription{
    margin-top: 5px;
    margin-bottom: 20px;
}

#toMdpOublie {
    margin-top: 15px;
}

#toInscription a,
#toMdpOublie a{
    text-decoration: none;
    color:rgb(26, 118, 210);
}

#toInscription a:visited,
#toMdpOublie a:visited {
    color:rgb(26, 118, 210)
}

#toInscription a:hover,
#toMdpOublie a:hover{
    text-decoration: underline;
}


#buttonConnection{
    width: 40%;
    background-color: #D68910;
    color:black;
    margin-top: 5px;
}



