h1{
    margin-bottom:30px;
    padding-top: 30px;
    text-align: center;
}

h2{
    font-weight: 500;
    margin-bottom:20px;
}

.inscriptionForm{
    text-align: center;
    padding: 20px 20px;
    width: 40%;
    max-width: 800px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEFEFE;
    /* display: block; */
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}

.inscriptionForm input{
    width: 100% !important ;
}
 
#name{
    display: flex ;
    justify-content: space-between ;
    flex-wrap: wrap;
    margin: 0px auto;
    width: 100%;
}

#name input{
    width: 10%;
}


#pwd{
    display: flex ;
    justify-content: space-between ;
    flex-wrap: wrap;
    margin: 0px auto;
    width: 100%;
}


.passwordDiv{
    width: 45%;
}

.tooltipInscription{
    text-align: center;
    margin: auto 0px;
}


#inscriptionNetwork{
    margin:10px 100px;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#buttonInscription{
    width: 40%;
    background-color: #D68910;
    color:black;
    margin-top: 5px;
}




